/*....... GENERAL .......*/

html, body {
  height: 100%;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.container, .container-fluid {
  width: auto;
  /* max-width: 960px; */
  padding: 0 15px;
  min-height: 100%;
}
 
.container .text-muted {
  margin: 20px 0;
/*  color: #D2E5F7; */
  font-weight: bold;
}

#main {
  overflow: auto;
  padding-bottom: 60px;
}

/*....... NAVBAR .......*/

/*
.navbar {
	background-color: #337AB7;
  font-weight: bold;
}

.navbar-brand {
  color: #f9f9f9 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #f9f9f9;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #4893D4;
  color: #f9f9f9;
}
*/

/*....... FORMS .......*/

.logpanel {
  margin-top: 90px;
  max-width: 600px;
}

.form-signin {
  margin: 20px;
}

.form-signin-heading {
  margin-bottom: 22px;
}

.form-control {
  margin-bottom: 14px;
}

/*....... FOOTER .......*/

.footer {
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:0px;
  background-color: #337AB7;
}